body {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
#section1 {
  height: 100vh;
  background-color: #9a7aff;
  color: white;
  padding: 0px 120px;
}

#header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-left p {
  font-size: 20px;
  font-weight: bold;
}
#header-right {
  display: flex;
  gap: 20px;
}

#header-right img {
  width: 12px;
  margin-left: 6px;
}
#intro {
  height: calc(100vh-100px);
  display: flex;
  align-items: center;
  margin-top: 50px;
}

#intro-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.title {
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
}
.description {
  font-size: 20px;
  font-weight: 300;
  color: white;
  margin: 0px;
  line-height: 30px;
  width: 560px;
}

.base-button {
  padding: 24px 16px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
}
#intro-right {
  width: 50%;
  margin-left: 100px;
}
#intro-right img {
  width: 50%;
}

#section2 {
  height: 100vh;
  background-color: #33c37e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 32px;
}

#purple-button {
  background-color: #9a7aff;
}
#green-button {
  background-color: #33c37e;
}

#section3 {
  height: 100vh;
  background-color: #9a7aff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

#scheme1 {
  height: 534px;
  width: 33%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  padding: 32px 24px;
}

#scheme1 img {
  width: 200px;
}

#scheme1 p {
  font-size: 15px;
  line-height: 25px;
}
#section3-right {
  width: 66%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#scheme2 {
  background-color: white;
  height: 220px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  padding: 32px 24px;
}

#scheme2 img {
  width: 200px;
}
#scheme3 {
  background-color: rgba(201, 207, 80, 0.737);
  height: 220px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  padding: 32px 24px;
}

#scheme3 img {
  width: 150px;
}
.text {
  font-size: 22px;
  line-height: 35px;
}

@media (max-width: 620px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #section1 {
    height: 100vh;
    width: 100%;
    background-color: #b82f4f;
    color: rgb(50, 47, 47);
    padding: 0px 60px;
  }

  #header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header-left p {
    font-size: 14px;
    font-weight: bold;
  }
  #header-right {
    font-size: 14px;
    display: none;
    gap: 20px;
  }

  #header-right img {
    width: 8px;
  }

  #intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
  }
  .description {
    font-size: 14px;
    font-weight: 140;
    color: white;
    margin: 0px;
    line-height: 30px;
    width: 250px;
  }

  .base-button {
    padding: 16px 8px;
    border: none;
    color: white;
    font-size: 10px;
    font-weight: bold;
    width: 60px;
  }
  #intro-right {
    width: 100%;
  }
  #intro-right img {
    width: 140px;
    margin-top: 30px;
    margin-left: 80px;
  }

  #section2 {
    height: 100vh;
    width: 130%;
    background-color: #33c37e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
  }
  #section2 img {
    width: 150px;
    height: 80px;
  }

  #purple-button {
    background-color: #9a7aff;
  }
  #green-button {
    background-color: #33c37e;
  }

  #section3 {
    height: 100vh;
    width: 110%;
    background-color: #9a7aff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    gap: 20px;
  }

  #scheme1 {
    height: 250px;
    width: 33%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    padding: 32px 24px;
  }
  #scheme1 img {
    width: 85px;
  }

  #scheme1 p {
    font-size: 12px;
    line-height: 15px;
  }
  #section3-right {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  #scheme2 {
    background-color: white;
    height: 110px;
    width: 233px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    padding: 32px 24px;
  }
  #scheme2 img {
    width: 90px;
    height: 70px;
  }
  #scheme3 {
    background-color: rgba(201, 207, 80, 0.737);
    height: 110px;
    width: 233px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    padding: 32px 24px;
  }
  #scheme3 img {
    width: 90px;
    height: 70px;
  }
  .text {
    font-size: 12px;
    line-height: 15px;
  }
}
